.title-portfolio {
  color: #ecbd00;
  text-align: center;
  margin-top: 10em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline: 10em;
  margin-top: 4em;
}


.containerThirst {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start;
}

.kasa,
.leMas {
  border: 1px solid #484646;
  border-radius: 15px;
  max-width: 400px;
  width: 100%;
  min-height: 200px; /* hauteur minimum */
  height: auto; 

  img {
    padding: 0.5em;
    border-radius: 15px;
    width: 95%;
    height: auto; 
  }
}

.Iphone3d {
  .iphone {
    height: 500px !important;
  }
  border: 1px solid #484646;
  border-radius: 20px;
  min-width: 768px;
  width: 100%;
  min-height: 500px;
  height: auto;
  justify-self: center;
}

.secondlayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 auto;
  width: 100%;
}
.space {
  border: 1px solid #484646;
  border-radius: 20px;
  max-width: 805px;
  margin-top: -12em;
  width: 100%;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.layout-stack {
  margin-top: 0.3em;
  border: 1px solid #484646;
  border-radius: 15px;
  height: 343px;

  .thirstrangest {
    width: 100%;
    height: 172px;

    :nth-child(1) {
      border-top-left-radius: 15px;
    }
    :nth-child(3) {
      border-top-right-radius: 15px;
    }
  }

  .secondrangest {
    width: 766px;
    height: 343px;

    :nth-child(1) {
      border-bottom-left-radius: 15px;
    }
    :nth-child(3) {
      border-bottom-right-radius: 15px;
    }
  }

  img {
    border: 1px solid #484646;
    width: 253.3px;
    height: 170px;
    object-fit: contain;
  }
}


.ohmyfood {
  border: 1px solid #484646;
  border-radius: 15px;
  max-width: 805px;
  width: 100%;
  height: auto;

  img {
    margin: 0.5em;
    border-radius: 15px;
    width: 98%;
    height: auto;
    object-fit: cover;
  }
}

.myself {
  border: 1px solid #484646;
  border-radius: 15px;
  width: 766px;
  text-align: center;
}

.info-project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1em;
  svg {
    font-size: 1.3em;
  }
}
