.title-portfolio {
  color: #ecbd00;
  text-align: center;
  margin: 2em;
}

.layoutgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "kasa      leMas      Iphone3d"
    "space     stack      Iphone3d"
    "ohmyfood  myself     myself";
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
  justify-items: center;
  align-items: start;
}

.kasa {
  grid-area: kasa;
  border: 1px solid #484646;
  border-radius: 15px;
  max-width: 320px;
  width: 100%;
  height: 100%;
  min-height: 350px;

  img {
    border-radius: 15px;
    margin: 0.5em;
    width: 300px;
    height: 200px;
  }
}

.leMas {
  grid-area: leMas;
  border: 1px solid #484646;
  border-radius: 15px;
  max-width: 320px;
  width: 100%;
  height: 280px;

  img {
    margin: 0.5em;
    border-radius: 15px;
    width: 300px;
    height: 200px;
  }
}

.Iphone3d {
  border: 2px solid #484646;
  grid-area: Iphone3d;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  grid-column: 3;
  grid-row: 1; // juste sur la ligne 1
  height: auto;
  max-height: 300px;
  justify-self: center;
}

.space {
  grid-area: space;
  max-width: 450px;
  width: 100%;
  padding: 1em;
  border: 1px solid #484646;
  border-radius: 20px;

  img {
    border-radius: 20px;
    width: 450px;
    height: 300px;
  }
}

.layout-stack {
  grid-area: stack;
  border: 1px solid #484646;
  border-radius: 15px;
  max-width: 306px;
  width: 100%;
  height: 200px;

  .thirstrangest {
    width: 306px;
    height: 100px;

    :nth-child(1) {
      border-top-left-radius: 15px;
    }
    :nth-child(3) {
      border-top-right-radius: 15px;
    }
  }

  .secondrangest {
    width: 306px;
    height: 100px;

    :nth-child(1) {
      border-bottom-left-radius: 15px;
    }
    :nth-child(3) {
      border-bottom-right-radius: 15px;
    }
  }

  img {
    border: 1px solid #484646;
    width: 100px;
    height: 100px;
  }
}

.ohmyfood {
  grid-area: ohmyfood;
  border: 1px solid #484646;
  border-radius: 15px;
  max-width: 320px;
  width: 100%;
  height: 280px;

  img {
    margin: 0.5em;
    border-radius: 15px;
    width: 300px;
    height: 200px;
  }
}

.myself {
  grid-area: myself;
  justify-self: center;
}

.info-project {
  display: flex;
  flex-direction: row;
  align-items: center;
}
