.header-layout {
 margin-top: 9em;
 margin-bottom: 10em;
 display: flex;
 justify-content: center;
 img {
  width: 50%;
  height: auto;
 }
}

.thphr {
 padding: 2em;
 font-size: 2em;
 line-height: 1.25;
 margin-bottom: 4em;
}